@import url(Landingpage.html);
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=TASA+Orbiter:wght@400..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "TASA Orbiter, sans-serif";
    color: #333;
    line-height: 1.6;
}

header {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #fff;
    height: 60px;
}

.nav-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.5rem;
    color: #1a73e8;
    font-weight: bold;
}

.logo i {
    font-size: 1.5rem;
}

.nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.nav-links a {
    color: black;
    text-decoration: none;
    font-weight: 700;
    padding: 0.5rem;
}

.nav-links li a:hover,
.nav-links .active {
    color: #1a73e8;
}

.nav-button {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.nav-button .login-btn {
    text-decoration: none;
    color: #1a73e8;
    font-weight: 700;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
}

.login-btn:hover {
    background-color: #f0f4fe;
}

.register-btn {
    text-decoration: none;
    color: #fff;
    background-color: #1a73e8;
    font-weight: 700;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
}

.hero {
    display: flex;
    height: 100vh;
    background-color: #1a73e8;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;
}

.hero-content {
    color: #fff;
    margin-bottom: 5rem;
    font-size: 1.2rem;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.hero-content .cta-btn {
    background-color: #fff;
    padding: 1rem 2rem;
    text-decoration: none;
    color: #1a73e8;
    border-radius: 5px;
    font-weight: 700;
}

.cta-btn:hover {
    background-color: #f0f4fe;
}

.featured-courses {
    width: 100%;
    max-width: 1200px;
    padding: 0 1rem;
    margin-bottom: 2rem;
}

.featured-courses h1 {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.course-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}

.course-card {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    border-radius: 5px;
    padding: 1.5rem 1rem;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.course-image {
    background-color: rgba(255, 255, 255, 0.2);
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0.8rem;
}

.course-image i {
    font-size: 1.2rem;
}

.course-card .course-duration {
    padding: 0.2rem 0.8rem;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    color: #fff;
    font-size: 0.8rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.about{
    padding: 5rem 2rem;
    background-color: #f8f9f8;
}
.about-content{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.about-content h2{
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #333;
}
.about-content p{
    padding: 2rem;
    margin: 0 auto 3rem;
    font-size: 1.1rem;
}
.stats{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}
.stats-iteam{
    padding: 2rem;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.stats-iteam i{
    color: #1a73e8;
    margin-bottom: 0.5rem;
    font-size: 2rem;
}
.stats-iteam h3{
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 0.5rem;
}
.stats-iteam p{
    font-weight: 40px;
}
footer{
    background-color: #333;
    color: #fff;
    padding: 3rem 2rem 1rem;
}
.footer-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}
.footer-section h3{
    margin-bottom: 1rem;
    max-width: 1200px;
    font-weight: 700
}
.footer-section ul{
    list-style: none;
}
.footer-section ul li{
    margin-bottom: 0.5rem;
}
.footer-section a{
    color: #fff;
    text-decoration: none;
}
.footer-section a:hover{
    color: #1a73e8;
}
.social-links{
    display: flex;
    gap: 1rem;
}
.social-links a i{
    font-size: 1.1rem;
}
.footer-copyrights{
    text-align: center;
    margin-top: 2rem;
    border-top: 2px solid rgba(255, 255, 255, 0.2);
}

@media (max-width:768px) {
    .nav-container{
        padding: 0 0.8rem;
    }
    .nav-links, .nav-button{
        display: none;
    }
}